<html>

<head>
    <title>AngularJs-Calculator</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
        button {
            width: 100%;
        }
        
        label {
            width: 100%;
        }
    </style>
</head>

<body ng-app="app" ng-controller="ctrl">
    <div align="center">
        <table  >

            <tr>
                <td colspan="5">
                    <input ng-model="expression" disabled placeholder="0" type="text" onkeypress='return false'/>
                </td>
            </tr>
            <tr>
                <td colspan="3" rowspan="3">
                    <table style="width:100%;">
                        <tr ng-repeat="row in nums">
                            <td ng-repeat="num in row">
                                <button ng-click="numClick(num)">{{num}}</button>
                            </td>
                        </tr>
                        
                        
                    </table>
                </td>
                <td>
                    <button ng-disabled="!opEnable" ng-click="fnClick('/')">/</button>
                </td>
                <td rowspan="2">
                    <button style="height:110%" ng-click="clrClick()">C</button>
                </td>
            </tr>
            <tr>
<td><button ng-disabled="!opEnable" ng-click="fnClick('*')">*</button></td>
            </tr>


<tr>
<td><button ng-disabled="!minusEnable" ng-click="fnClick('-')">-</button></td>
    <td rowspan="2"><button style="height:110%" ng-disabled="!opEnable" ng-click="ansClick()">=</button></td>
            </tr>

<tr>
<td colspan="2"><button ng-click="numClick('0')">0</button></td>
    <td><button ng-disabled="!pointEnable" ng-click="pntClick()">.</button ></td>
    <td><button ng-disabled="!opEnable"  ng-click="fnClick('+')">+</button></td>
            </tr>

        </table>
    </div>
</body>


</html>